<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\video.css">
    <title>video</title>
</head>

<body>

    <!-- Contenedor principal -->
    <div class="main-container">

        <!-- Contenedor del video -->
        <div class="video-container">
            <video id="miVideo" controls autoplay>
                <source src="../css/assets/video2.mp4" type="video/mp4">
            </video>
        </div>

        <!-- Enlace de regreso -->
        <h2><a href="./inicio.html">Go back to the start</a></h2>

    </div>
    
</body>
</html>
